<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Big Five personality traits test</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="all.css" />
  </head>

  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/"> 五大性格特質心理測驗 </a>
          </div>
        </nav>
        <div class="banner"></div>
      </header>
      <div class="container-fluid my-5" v-if="questionIndex === 0">
        <div class="d-flex justify-content-center">
          <div class="card" style="width: 40rem">
            <div class="card-body">
              <h2 class="card-title mb-4">{{name.zh}}</h2>
              <h6 class="card-subtitle mb-5 text-right text-muted">
                {{name.en}}
              </h6>

              <button
                type="button"
                class="btn btn-info float-right mt-5"
                @click.prevent="questionIndex += 1"
              >
                開始測驗
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-fluid my-5"
        v-for="(question, index) in questions"
        :key="index"
      >
        <div class="d-flex justify-content-center">
          <div
            class="card"
            style="width: 40rem"
            v-if="questionIndex === index+1 && !showResult"
          >
            <div class="card-body">
              <h3 class="card-title mb-4">
                Q{{index + 1}}. {{question.problem}}
              </h3>
              <div
                class="form-check card-text"
                v-for="option in question.options"
                :key="option.category"
              >
                <input
                  type="radio"
                  class="form-check-input"
                  :id="option.fraction"
                  v-model="questionList[Math.floor(index/2)].point[index%2]"
                  :name="question.id"
                  :value="option.fraction"
                />
                <label class="form-check-label" :for="option.fraction">
                  {{option.description}}
                </label>
              </div>
              <button
                type="button"
                class="btn btn-primary float-right mt-5"
                v-if="index < 9"
                @click="nextPage(question.id)"
              >
                下一題
              </button>
              <button
                type="button"
                class="btn btn-success float-right mt-5"
                v-else
                @click="result(question.id)"
              >
                結果
              </button>
            </div>
          </div>
        </div>
      </div>
      <template v-if="showResult">
        <div
          class="container my-5"
          v-for="(result, index) in resultList"
          :key="index"
        >
          <div class="d-flex justify-content-center">
            <div class="card" style="width: 45rem" v-if="resultIndex === index">
              <div class="card-body">
                <h3 class="card-title">{{result.category}}</h3>
                <small class="card-subtitle mb-2 text-muted"
                  >{{result.description.desc}}</small
                >
                <hr />
                <h3 class="card-text mt-5">
                  <strong>{{result.degree}}</strong>
                </h3>
                <br />
                <div class="card-text mt-2">
                  <h5>總分: {{result.total}}</h5>
                  <div v-if="result.total <= 5">
                    <h5>{{result.description.low}}</h5>
                  </div>
                  <div v-else-if="result.total <= 6">
                    <h5>{{result.description.middle}}</h5>
                    <br />
                    <p>{{result.description.low}}</p>
                    <p>{{result.description.high}}</p>
                  </div>
                  <div v-else>
                    <h5>{{result.description.high}}</h5>
                  </div>
                </div>

                <button
                  type="button"
                  class="btn btn-warning float-right mt-5"
                  v-if="index < 4"
                  @click="resultIndex += 1"
                >
                  Next
                </button>
                <button
                  type="button"
                  class="btn btn-secondary float-right mt-5"
                  @click="reset"
                  v-else
                >
                  重新測驗
                </button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="all.js"></script>
  </body>
</html>
